<template>
  <div class="emergency-call">
    <google-maps name="emergency"></google-maps>
  </div>
</template>
<script>
/* eslint-disable */
import GoogleMaps from "@/pages/map/Map";
import { firestore } from "@/commons/firebase_common";
import { clearMarkers, addMarker } from "@/commons/map_common";
export default {
  components: {
    GoogleMaps
  },
  computed: {
    markers() {
      return this.$store.getters["emergencyStore/getMarkers"];
    }
  },
  mounted() {
    this.getData();
  },
  methods: {
    getData() {
      this.$store.dispatch("emergencyStore/fetchMarkers");
    },
    addMarker(marker) {
      this.$store.dispatch("emergencyStore/addMarker", marker);
    },
    clearMarkers() {
      this.$store.dispatch("emergencyStore/clearMarkers");
    }
  }
};
</script>

