<template>
  <div class="person-relawan">
    <v-tabs color="primary" slider-color="yellow">
      <v-tab>
        <v-icon>list</v-icon>Data Table
      </v-tab>
      <v-tab>
        <v-icon>map</v-icon>Map
      </v-tab>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <v-data-table :headers="headers" :items="users" hide-actions class="elevation-1">
              <template slot="items" slot-scope="props">
                <td>{{ props.item.name }}</td>
                <td class="text-xs-right">{{ props.item.nik }}</td>
                <td class="text-xs-right">{{ props.item.email }}</td>
                <td class="text-xs-right">{{ props.item.age }}</td>
                <td class="text-xs-right">{{ props.item.address }}</td>
                <td class="text-xs-right">{{ props.item.lembaga }}</td>
                <td class="text-xs-right">{{ props.item.phone }}</td>
                <td class="text-xs-right">{{ props.item.userType }}</td>
                <td class="text-xs-right">{{ props.item.userRole }}</td>
                <td class="text-xs-right">{{ props.item.isVerified }}</td>
                <td class="text-xs-right">{{ props.item.userStatus }}</td>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>Map</v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs>
  </div>
</template>
<script>
/* eslint-disable */
import GoogleMaps from "@/pages/map/Map";
import { firestore } from "@/commons/firebase_common";

export default {
  components: {
    GoogleMaps
  },
  computed: {
    users() {
      return this.$store.getters["userStore/getUsers"];
    }
  },
  data() {
    return {
      headers: [
        {
          text: "Nama",
          align: "left",
          sortable: false,
          value: "name"
        },
        { text: "NIK", value: "nik" },
        { text: "Email", value: "email" },
        { text: "Umur", value: "age" },
        { text: "Alamat", value: "address" },
        { text: "Lembaga", value: "lembaga" },
        { text: "No Telp", value: "phone" },
        { text: "Tipe", value: "userType" },
        { text: "Role", value: "userRole" },
        { text: "Verified", value: "isVerified" },
        { text: "Status", value: "userStatus" }
      ]
    };
  },
  beforeMount() {
    this.getData();
  },
  mounted() {
    console.log(this.users);
  },
  methods: {
    getData() {
      this.$store.dispatch("userStore/fetchUsers");
    },
    setUsers(user) {
      // console.log(user);
      this.$store.dispatch("userStore/setUsers", user);
    }
  }
};
</script>

