<template>
  <div class="fasilitas-ibadah"></div>
</template>
<script>
/* eslint-disable */
import GoogleMaps from "@/pages/map/Map";
export default {
  components: {
    GoogleMaps
  }
};
</script>

