<template>
  <div class="fasilitas-kesehatan">
    <v-tabs color="primary" slider-color="yellow">
      <v-tab>
        <v-icon>list</v-icon>Data Table
      </v-tab>
      <v-tab>
        <v-icon>map</v-icon>Map
      </v-tab>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <v-data-table :headers="headers" :items="faskess" hide-actions class="elevation-1">
              <template slot="items" slot-scope="props">
                <td>{{ props.item.strNamaLembaga }}</td>
                <td>{{ props.item.strJenisLembaga }}</td>
                <td>{{ props.item.masihBeroperasi?"Ya":"Tidak" }}</td>
                <td>{{ props.item.strTypeFasilitas }}</td>
                <td class="text-xs-center">{{ props.item.strTingkatKerusakan }}</td>
                <td class="text-xs-center">{{ props.item.strStatusReruntuhan }}</td>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>Map</v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs>
  </div>
</template>
<script>
/* eslint-disable */
import GoogleMaps from "@/pages/map/Map";
export default {
  components: {
    GoogleMaps
  },
  computed: {
    faskess() {
      return this.$store.getters["faskesStore/getFaskess"];
    }
  },
  data() {
    return {
      headers: [
        {
          text: "Nama Lembaga",
          align: "left",
          sortable: true,
          value: "strNamaLembaga"
        },
        {
          text: "Jenis Lembaga",
          align: "left",
          sortable: true,
          value: "strJenisLembaga"
        },
        {
          text: "Beroperasi?",
          align: "left",
          sortable: true,
          value: "masihBeroperasi"
        },
        {
          text: "Tipe Fasilitas",
          align: "left",
          sortable: true,
          value: "strTypeFasilitas"
        },
        {
          align: "center",
          sortable: true,
          text: "Tingkat Kerusakan",
          value: "strTingkatKerusakan"
        },
        {
          text: "Status Reruntuhan",
          align: "center",
          sortable: true,
          value: "strStatusReruntuhan"
        }
      ]
    };
  },
  beforeMount() {
    this.getData();
  },
  mounted() {
    console.log(this.faskess);
  },
  methods: {
    getData() {
      this.$store.dispatch("faskesStore/fetchFaskess");
    },
    setFaskess(faskes) {
      this.$store.dispatch("faskesStore/setFaskess", faskes);
    }
  }
};
</script>

