<template>
  <div class="posko-ungsi">
    <v-tabs color="primary" slider-color="yellow">
      <v-tab>
        <v-icon>list</v-icon>Data Table
      </v-tab>
      <v-tab>
        <v-icon>map</v-icon>Map
      </v-tab>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <v-data-table :headers="headers" :items="poskos" hide-actions class="elevation-1">
              <template slot="items" slot-scope="props">
                <td>{{ props.item.strNamaPosko }}</td>
                <td class="text-xs-right">{{ props.item.strJenisLembaga }}</td>
                <td class="text-xs-right">{{ props.item.strNamaLembaga }}</td>
                <td class="text-xs-left">
                  <ul>
                    <li v-for="(value, key) in props.item.listJenisBantuan" :key="key">{{value}}</li>
                  </ul>
                </td>
                <td class="text-xs-right">{{ props.item.strAddressName }}</td>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>Map</v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs>
  </div>
</template>
<script>
/* eslint-disable */
import GoogleMaps from "@/pages/map/Map";
import { firestore } from "@/commons/firebase_common";
export default {
  components: {
    GoogleMaps
  },
  computed: {
    poskos() {
      return this.$store.getters["poskoBantuanStore/getPoskos"];
    }
  },
  data() {
    return {
      headers: [
        {
          text: "Nama Posko",
          align: "left",
          sortable: false,
          value: "strNamaPosko"
        },
        { text: "Jenis Lembaga", value: "strJenisLembaga" },
        { text: "Nama Lembaga", value: "strNamaLembaga" },
        { text: "Jenis Bantuan", value: "listJenisBantuan" },
        { text: "Alamat", value: "strAddressName" }
      ]
    };
  },
  beforeMount() {
    this.getData();
  },
  mounted() {
    console.log(this.poskos);
  },
  methods: {
    getData() {
      this.$store.dispatch("poskoBantuanStore/fetchPoskos");
    },
    setPoskos(posko) {
      this.$store.dispatch("poskoBantuanStore/setPoskos", posko);
    }
  }
};
</script>

